    /* ==== HERO ==== */
.hero-section {
    /* margin-top: 0 !important;
    min-height: 75vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url('/public/specialties/shawn-day-ZnkHPagIOlM-unsplash.jpg') center/cover no-repeat;
    animation: fadeDown 1.2s ease; */
       height: 75vh;
    overflow: hidden;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 75vh;
}

.hero-section h1 {
    font-size: 48px;
}

.hero-section p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* ================= SECTIONS BOXES ================= */
.service-box, .doctor-card, .stats-box, .testimonial, .contact-box {
background: #fff;
padding: 25px;
border-radius: 20px;
box-shadow: 0 4px 18px rgba(0,0,0,0.12);
transition: 0.35s;
}

.doctor-card {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
    transition: .3s;
    height: 100%;
}
.doctor-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

  /* ==== الأسئلة ==== */
    .accordion-button {
        font-weight: 600;
        transition: .3s;
    }
    .accordion-button:not(.collapsed) {
        background: #1179b8;
        color: white;
    }

    /* ==== صور المستشفى ==== */
    .gallery-img {
        transition: .4s;
        animation: fadeUp 1.2s ease;
    }
    .gallery-img:hover {
        transform: scale(1.06);
        box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    }

    /* ==== CONTACT ==== */
    .contact-box {
        background: #fff;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0 4px 18px rgba(0,0,0,0.12);
        animation: fadeUp 1.1s ease;
    }

    /* ==== ANIMATIONS ==== */
    @keyframes fade {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes fadeUp {
        0% { opacity: 0; transform: translateY(25px); }
        100% { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeDown {
        0% { opacity: 0; transform: translateY(-25px); }
        100% { opacity: 1; transform: translateY(0); }
    }
    @media (max-width: 768px) {

    .hero-section,
    .carousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        height: 65vh;
    }

    .hero-overlay h1 {
        font-size: 28px;
    }

    .hero-overlay p {
        font-size: 15px;
        padding: 0 10px;
    }

    .hero-overlay .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}